html

body
    h1 #{__('Hello')}
    h2 Already in list?!
    form(method='post', action='/subscribe')
        input(type='text', name='name')
        input(type='submit', value='Go!')

    ul
        - each user in users
            li #{user.name}